body {
    text-align: center;
    font-family: Arial, sans-serif;
   /** background-color: #f0f0f0;**/
   background-image: url("../images/Background.webp");
   background-repeat: no-repeat;
   
}

h3 {
    color: white;
    
}

p {
    margin: 0px;
}


.game {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.buttons {
    margin: 0px;
}
 

button {
    padding: 10px 10px;
    margin: 0px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

img {
    max-width: 40px;
}

.score {
    margin-top: 0px;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

th, td {
    
    text-align: center;
    border: 1px solid #ddd;
}

.results {
    margin: 0px;
}

#game-result {
    font-size: 15px;
    font-weight:normal;
    color: #333;
}

.round {
    margin: 0px;
}

.round h2 {
    color: #333;
}

.players {
    display: flex;
    justify-content: center;
    
}

.player {
    text-align: center;
    margin: 0 20px;
}
.vs {
}

.game-winner {
    margin: 5px;;
}

#game-winner-result {
    font-size: 18px;
    font-weight: bold;
    color: rgb(64, 106, 2);
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    width: 170px;;
    


}

.new-game-button {
    background-color: #0158a1;
    color: white;
   /** border: solid 4px #0158a1;**/
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

/** Game Ruls section**/
.ruls {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    /**max-width: 220px;**/
    display:table;
    padding: 5px;
    margin:10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
h5 {
    margin: 5px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    h3 {
        font-size:30px;
    }

    img {
        max-width: 100px;
    }

    .ruls {
        font-size:15px;       
    }
    h5 {
        font-size: 15px;
    }
}