/* General styles */

body {
    text-align: center;
    font-family: Arial, sans-serif;
   /**background-image: url("../images/background.webp");**/
   
}

h1 {
    color: #333;
   /** text-shadow:2px 2px #0158a1;**/
}

h4 {
    margin: 5px;
}


/** game section**/

/**.game {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
}**/

/** Game buttons section**/

.buttons {
    margin: 10px;
}

button {
    padding: 10px 20px;
    margin: 0px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/**Game block image **/

img {
    max-width: 100px;
    max-height: fit-content;
}

/**Score Section**/

.score {
    margin-top: 0px;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}


th, td {
    padding: 5px;
    text-align: center;
    /**border: 1px solid #ddd;**/
}

/**game results section**/

.results {
    margin: 0px;
}

#game-result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/** game round section**/

.round {
    margin: 0px;
}

.round h2 {
    color: #333;
}

/**players section**/

.players {
    display: flex;
    justify-content: center;
    margin: 20 0px;
    
}

.player {
    text-align: center;
    margin: 0 20px;
}

h3 {
    color: #333;
}

/**Game Winner result section**/

.game-winner {
    margin: 0px;
}

#game-winner-result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/**new Game Button**/

.new-game-button {
    background-color: #0158a1;
    color: white;
   /** border: solid 4px #0158a1;**/
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}