/* General styles */

body {
    text-align: center;
    font-family: Arial, sans-serif;
   /** background-color: #f0f0f0;**/
   background-image: url("../images/Background.jpg");
   
}

h1 {
    color: white;
    text-shadow:2px 2px #333;
}

/** game section**/

.game {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

/** Game buttons section**/

.buttons {
    margin: 0px;
}

button {
    padding: 10px 20px;
    margin: 0px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}